In [ ]:
import pandas as pd

df= pd.read_csv("..\data\heart.csv")


#print basic information about the dataset
print("Firts ten rows: \n",df.head(10))
print("Total columns: \n", df.columns)
print(" Describe ",df.describe())

#print data types and non-null values
df.info()

print("Shape of dataset: \n",df.shape)

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
C:\Users\User\AppData\Local\Temp\ipykernel_18984\163610560.py:3: SyntaxWarning: invalid escape sequence '\d'
  df= pd.read_csv("..\data\heart.csv")

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [ ]:
#Data exploration (numeric vs categorical)

print("by my insight looking at the data")
print("numeric columns:  age,trestbps,chol,thalach,old peak(5)")
print("caterogical columns : sex,cp,fbs,restecg,exang,slope,ca,thal,target (9) \n")


print("\n by code")
print(df.select_dtypes(include = 'number').columns)

for col in df.columns:
    print(col, df[col].nunique())

by my insight looking at the data
numeric columns:  age,trestbps,chol,thalach,old peak(5)
caterogical columns : sex,cp,fbs,restecg,exang,slope,ca,thal,target (9)


 by code
Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')
age 41
sex 2
cp 4
trestbps 49
chol 152
fbs 2
restecg 3
thalach 91
exang 2
oldpeak 40
slope 3
ca 5
thal 4
target 2
Duplicate rows: 723
    age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
15   34    0   1       118   210    0        1      192      0      0.7
31   50    0   1       120   244    0        1      162      0      1.1
43   46    1   0       120   249    0        0      144      0      0.8
55   55    1   0       140   217    0        1      111      1      5.6
61   66    0   2       146   278    0        0      152      0      0.0
64   29    1   1       130   204    0        0      202      0      0.0
79   52    1   1       134   201    0        1      158      0      0.8
82   46    1   2       150   231    0        1      147      0      3.6
83   38    1   2       138   175    0        1      173      0      0.0
84   37    0   2       120   215    0        1      170      0      0.0

    slope  ca  thal  target
15      2   0     2       1
31      2   0     2       1
43      2   0     3       0
55      0   0     3       0
61      1   1     2       1
64      2   0     2       1
79      2   1     2       1
82      1   0     2       0
83      2   4     2       1
84      2   0     2       1

In [10]:
#checkout duplicated values(no of rows)
print("Duplicate rows:", df.duplicated().sum())

#read first duplicates

duplicates = df[df.duplicated()]
print(duplicates.head(10))    


#see duplicates together
duplicates = df[df.duplicated(keep=False)]
print(duplicates.sort_values(by=list(df.columns)).head(10))

Duplicate rows: 723
    age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
15   34    0   1       118   210    0        1      192      0      0.7
31   50    0   1       120   244    0        1      162      0      1.1
43   46    1   0       120   249    0        0      144      0      0.8
55   55    1   0       140   217    0        1      111      1      5.6
61   66    0   2       146   278    0        0      152      0      0.0
64   29    1   1       130   204    0        0      202      0      0.0
79   52    1   1       134   201    0        1      158      0      0.8
82   46    1   2       150   231    0        1      147      0      3.6
83   38    1   2       138   175    0        1      173      0      0.0
84   37    0   2       120   215    0        1      170      0      0.0

    slope  ca  thal  target
15      2   0     2       1
31      2   0     2       1
43      2   0     3       0
55      0   0     3       0
61      1   1     2       1
64      2   0     2       1
79      2   1     2       1
82      1   0     2       0
83      2   4     2       1
84      2   0     2       1
     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
60    29    1   1       130   204    0        0      202      0      0.0
64    29    1   1       130   204    0        0      202      0      0.0
118   29    1   1       130   204    0        0      202      0      0.0
668   29    1   1       130   204    0        0      202      0      0.0
12    34    0   1       118   210    0        1      192      0      0.7
15    34    0   1       118   210    0        1      192      0      0.7
779   34    0   1       118   210    0        1      192      0      0.7
143   34    1   3       118   182    0        0      174      0      0.0
201   34    1   3       118   182    0        0      174      0      0.0
572   34    1   3       118   182    0        0      174      0      0.0

     slope  ca  thal  target
60       2   0     2       1
64       2   0     2       1
118      2   0     2       1
668      2   0     2       1
12       2   0     2       1
15       2   0     2       1
779      2   0     2       1
143      2   0     2       1
201      2   0     2       1
572      2   0     2       1

In [12]:
# Count frequency of all rows
row_counts = df.value_counts()
print(row_counts[row_counts > 1])


df_clean = df.drop_duplicates()
print("Rows before:", len(df))
print("Rows after removing duplicates:", len(df_clean))

age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal  target
38   1    2   138       175   0    1        173      0      0.0      2      4   2     1         8
61   1    0   148       203   0    1        161      0      0.0      2      1   3     0         4
              138       166   0    0        125      1      3.6      1      1   2     0         4
52   1    0   112       230   0    1        160      0      0.0      2      1   2     0         4
              125       212   0    1        168      0      1.0      2      2   3     0         4
                                                                                               ..
53   0    0   130       264   0    0        143      0      0.4      1      0   2     1         3
              138       234   0    0        160      0      0.0      2      0   2     1         3
          2   128       216   0    0        115      0      0.0      2      0   0     1         3
     1    0   142       226   0    0        111      1      0.0      2      0   3     1         3
77   1    0   125       304   0    0        162      1      0.0      2      3   2     0         3
Name: count, Length: 302, dtype: int64
Rows before: 1025
Rows after removing duplicates: 302