In [21]:
#Day 1: Creating and reading the data using pandas library

import pandas as pd

#1. creating the data frames
print("we are creating dataframe in panda")
Data = ({'Rooms':[1,2,3,4,5,6,4,2,10,13],
        'Price': [1000,2000,34500,5600,67000,45000,445567,12000,3500,12000],
        'Area_sqft': [120,203,575,32,131,345,13,232,421,123]})

#creating data frame
data_frame = pd.DataFrame(Data)

print("data frame created")
print(data_frame)

print(f'\nthe shape of data{data_frame.shape}')

print(f'\n the first five rows \n {data_frame.head()}')


data_frame.dtypes

Data_file = data_frame.to_csv('data.csv')

house_data = pd.read_csv('data.csv' , index_col=0)

house_data

we are creating dataframe in panda
data frame created
   Rooms   Price  Area_sqft
0      1    1000        120
1      2    2000        203
2      3   34500        575
3      4    5600         32
4      5   67000        131
5      6   45000        345
6      4  445567         13
7      2   12000        232
8     10    3500        421
9     13   12000        123

the shape of data(10, 3)

 the first five rows
    Rooms  Price  Area_sqft
0      1   1000        120
1      2   2000        203
2      3  34500        575
3      4   5600         32
4      5  67000        131

   Rooms   Price  Area_sqft
0      1    1000        120
1      2    2000        203
2      3   34500        575
3      4    5600         32
4      5   67000        131
5      6   45000        345
6      4  445567         13
7      2   12000        232
8     10    3500        421
9     13   12000        123