In [70]:
#day 4: Pandas Data Mastery
import warnings
warnings.filterwarnings('ignore')


import pandas as pd
import numpy as np

print("day 4: Pandas Grouping, Maps & Data Cleaning")

day 4: Pandas Grouping, Maps & Data Cleaning

In [71]:
#1 Lets create sample data of store

store_data = {
    'salesperson' : ['alice', 'Mahir', 'Ali' ,'AAna' , 'Alice','Mahir' , 'Alice','Alice' ],
    'product' : ['laptop' , 'laptop' , 'mouse','keyboard','monitor', 'monitor' ,'mouse','printer'],
    'price' : [1000,1000,250,600,340,340,250,2000],
    'Quantity' :[1,2,3,1,3,4,1,2],
    'city' : ['NYC' ,'UN','CHICAGO','LA','NYC' ,'UN','NYC','LA']
    
    
}

df = pd.DataFrame(store_data)
print ("The store sales data: \n ",df)

The store sales data:
    salesperson   product  price  Quantity     city
0       alice    laptop   1000         1      NYC
1       Mahir    laptop   1000         2       UN
2         Ali     mouse    250         3  CHICAGO
3        AAna  keyboard    600         1       LA
4       Alice   monitor    340         3      NYC
5       Mahir   monitor    340         4       UN
6       Alice     mouse    250         1      NYC
7       Alice   printer   2000         2       LA

In [ ]:
#2 Data cleaning , lets fix the   inconsistent names
print("\n6. lets fix the in consistent name:")

print("Before cleaning, Salesperson sales counts:")
print(df['salesperson'].value_counts())

# fixing the issue
df['salesperson'] = df['salesperson'].str.title()

print("\n After cleaning, Salesperson sales counts:")
print(df['salesperson'].value_counts())

6. lets fix the in consistent name:
Before cleaning, sale person counts:
salesperson
Alice    3
Mahir    2
alice    1
Ali      1
AAna     1
Name: count, dtype: int64

 After cleaning, Salesperson counts:
salesperson
Alice    4
Mahir    2
Ali      1
Aana     1
Name: count, dtype: int64

In [73]:
#3 Grouping_ total sales by each person

sales_by_person = df.groupby('salesperson')['price'].sum()
print("total sales by salesperson")
print(sales_by_person)

total sales by salesperson
salesperson
Aana      600
Ali       250
Alice    3590
Mahir    1340
Name: price, dtype: int64

In [74]:
#4 Sorting , finding the best product

print("Most expensive product : \n" )
expensive_products = df.sort_values('price', ascending = False)
print(expensive_products[['product', 'price']])

Most expensive product :

    product  price
7   printer   2000
0    laptop   1000
1    laptop   1000
3  keyboard    600
4   monitor    340
5   monitor    340
2     mouse    250
6     mouse    250

In [75]:
#5 Maping , catogrize products by price
def price_category(price):
    if price < 200:
        return "in budget"
    elif price < 500 :
        return "Mid_range"
    else:
        return "premium"

df['price_category'] = df['price'].map(price_category)
print(df ,"\n"* 4)
"or"
print(df[['product', 'price', 'price_category']])

  salesperson   product  price  Quantity     city price_category
0       Alice    laptop   1000         1      NYC        premium
1       Mahir    laptop   1000         2       UN        premium
2         Ali     mouse    250         3  CHICAGO      Mid_range
3        Aana  keyboard    600         1       LA        premium
4       Alice   monitor    340         3      NYC      Mid_range
5       Mahir   monitor    340         4       UN      Mid_range
6       Alice     mouse    250         1      NYC      Mid_range
7       Alice   printer   2000         2       LA        premium




    product  price price_category
0    laptop   1000        premium
1    laptop   1000        premium
2     mouse    250      Mid_range
3  keyboard    600        premium
4   monitor    340      Mid_range
5   monitor    340      Mid_range
6     mouse    250      Mid_range
7   printer   2000        premium

In [76]:
#6 Missing values ,handling the real data

print("\n Handling the missing data: ")
df_missing = df.copy()
df_missing.loc[2, 'price'] = None #create missing value

print("before cleaning : ")
print(df_missing[df_missing['price'].isnull()])


#Fill the missing value
df_clean = df_missing.fillna({'price' : df_missing['price'].mean()})
print("\nAfter cleaning:")
print(df_clean.iloc[2])

 Handling the missing data:
before cleaning :
  salesperson product  price  Quantity     city price_category
2         Ali   mouse    NaN         3  CHICAGO      Mid_range

After cleaning:
salesperson             Ali
product               mouse
price                 790.0
Quantity                  3
city                CHICAGO
price_category    Mid_range
Name: 2, dtype: object

In [77]:
# 5. Total sales of the stores
print("\n5. total revenue calculations:")
df['total_sale'] = df['price'] * df['Quantity']
print(df[['salesperson', 'product', 'total_sale']])

print(f"\n revenue of the total sales : ${df['total_sale'].sum()}")
print(" Day 4 Complete , All pandas concepts practiced!")

5. total revenue calculations:
  salesperson   product  total_sale
0       Alice    laptop        1000
1       Mahir    laptop        2000
2         Ali     mouse         750
3        Aana  keyboard         600
4       Alice   monitor        1020
5       Mahir   monitor        1360
6       Alice     mouse         250
7       Alice   printer        4000

 revenue of the total sales : $10980
 Day 4 Complete , All pandas concepts practiced!